<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.pro205.android.sweetdreambaby" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPages"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BookDetailPage"
            android:label="@string/title_activity_book_detail_page" >
        </activity>
        <activity
            android:name=".PlayingPages"
            android:label="@string/title_activity_playing_pages" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".MyBooks"
            android:label="@string/title_activity_my_books" >
        </activity>
        <activity
            android:name=".Favorites"
            android:label="@string/title_activity_favorites" >
        </activity>
    </application>

</manifest>
